.change-password-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .change-password-box {
    background-color: #ffffffcc;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px 4px #F5E9E4;
    width: 100%;
    max-width: 420px;
    text-align: center;
  }
  
  h4 {
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    text-align: left;
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  input.form-control {
    height: 45px;
    font-size: 16px;
  }
  
  button {
    height: 45px;
    font-size: 16px;
    font-weight: bold;
  }
  