<div class="change-password-wrapper">
  <div class="change-password-box">
    <h4>Change Password</h4>
    <form (ngSubmit)="changePassword()">
      <div class="mb-3">
        <label>Old Password:</label>
        <input type="password" [(ngModel)]="oldPassword" name="oldPassword" class="form-control" required>
      </div>

      <div class="mb-3">
        <label>New Password:</label>
        <input type="password" [(ngModel)]="newPassword" name="newPassword" class="form-control" required>
      </div>

      <div class="mb-3">
        <label>Confirm Password:</label>
        <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" class="form-control" required>
      </div>

      <button type="submit" class="btn btn-primary w-100">Change Password</button>
    </form>
  </div>
</div>
